# Git, documentation and local tooling
.git
.gitignore
README.md
LICENSE
docs/
htmlcov/
tests/
frontend/

# Локальне віртуальне оточення (найважливіше!)
.venv
venv
ENV

# Кеш Python та Pytest
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.cache/

# Local secrets
.env
env-sample.cfg

# Локальні бази даних / логи
*.db
*.log
